:root {
  --accent-color: #008080;
  --base-color: #fdfdfb;
  --text-base: 12px;
}
body{
  background-color: var(--base-color);
  margin: 0;
  min-height: 100vh;
  position: relative;
  box-sizing: border-box;
}
main{
  padding-bottom: 85px;
}